name: Build test matrix

on:
  workflow_call:

jobs:
  build-test-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [10, 12, 14, 16, 18]

    steps:
      - uses: actions/checkout@v1

      - name: Set up Nodejs ${{ matrix.version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm test

      - uses: IgnusG/jest-report-action@v2.3.3
        if: always()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          check-name: Jest test with node-version ${{ matrix.version }}
