name: Build test

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      jest-report:
        required: false
        type: string

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Nodejs
        uses: actions/setup-node@master
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Test
        run: npm test

      - uses: IgnusG/jest-report-action@v2.3.3
        if: always()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          check-name: Jest test with node-version ${{ matrix.version }}
